body {
  background: $ucla-blue url('images/molecule-bg.png');
  color: white;
}

h1, h2, h3, h4, h5, h6 { color:white; }

a { color: $ucla-blue-text; }

#container {
  //width: 1100px;
  margin: 0 auto;
  max-width: 1100px;
  background: $ucla-blue-dark;
  border-left: 1px solid $ucla-grey;
  border-right: 1px solid $ucla-grey;
}

.row {
  max-width: 100%;
}

.article-header {
  h2 {
    font-size: 1.485em;
    a {
      color: white;
      border-bottom: 1px solid $ucla-blue-text;
    }

    small {
      font-style: italic;
      color: $ucla-cyan;
    }
  }
}

%a_hovers {
  background: none;
  color: $ucla-gold;
  border-bottom: 1px solid $ucla-gold;
}

#content {
  a {
    &:hover {
      @extend %a_hovers;
    }

    &:focus {
      @extend %a_hovers;
    }
  }
}

span.gc-cs-link {
  color: white;
}