.widget {
  margin: 0;
  padding: 0;
}

.widget_text p {
  font-size: 0.9em;
}

%section-headings {
  color: $ucla-blue-text;
  font-style: italic;
  font-size: 1.1em;
  border-bottom: 2px solid $ucla-blue-text;
}

.sidebar {
  font-size: 0.9em;
  h2 {
    @extend %section-headings;
  }
}

.section-head {
  @extend %section-headings;
}