// Custom variables for this theme.

// Primary colors
$ucla-blue: rgb(50,132,191);
$ucla-gold: rgb(255,232,0);
$ucla-blue-text: rgb(52,123,173);

// Secondary colors
$ucla-blue-dark: rgb(30,75,135);
$ucla-blue-light: rgb(0,165,229);

// Tertiary colors
$ucla-yellow: rgb(255,255,0);
$ucla-green: rgb(0,255,135);
$ucla-magenta: rgb(255,0,165);
$ucla-purple: rgb(130,55,255);
$ucla-cyan: rgb(0,255,255);
$ucla-grey: rgb(102,102,102);
$ucla-marigold: rgb(254,187,54);